* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    background-color: #1d1e20 !important; /*Uso do importante devido ao boostrap*/
    color: white !important;
}

/*Para a navBar*/
.navbar {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    z-index: 1000 !important; /* Garante que a navbar fique sempre na camada da frente de qualquer outro elemento ao rolar a tela */
}


.nav-link:hover {
    background-color:rgba(239, 234, 234, 0.1);
    border-radius: 6px;
    transform: scale(1.02);
}

.nav-link {
    transition: all 0.3s ease;
    padding-inline:12px; /* Adiciona espaçamento interno apenas nas laterais dos links (esquerda e direita) */
}

/*Geral sessões*/

.section{
    padding:70px 0;
    scroll-margin-top: 50px; /*Respiro para o nav-bar não cobrir o título da sessão*/
}

/*Fim geral sessões*/

/*Sessão de início.*/
#inicio{
    min-height: 80vh; /* Define que a seção ocupará no mínimo 80% da altura da tela do dispositivo */
    display: flex;
    align-items: center;      /* centraliza na vertical */
    justify-content: center;  /* centraliza na horizontal */
}

#inicio .row{
    justify-content:center; /* Centraliza a linha do grid do Bootstrap */
}

#inicio .col-lg-8{
    max-width:700px; /* Limita a largura máxima do bloco de texto para melhorar a leitura */
}

#inicio h2{
    font-weight:300; /* Deixa o subtítulo com uma fonte mais fina, dando destaque para o título principal */
}

#inicio p{
    color:#cfcfcf;
    max-width:700px;
    margin:auto;
}

#formBusca{
    max-width:600px;
    width:100%; /* Permite que ele seja responsivo e encolha em telas menores */
}

/* Customização das caixas de texto (inputs) e seletores*/
.form-control,
.form-select{
   background:#2a2b2f !important;
   color:white !important;
   border:1px solid #555 !important;
   transition:.3s;

}

/* Configuração de quando o usuário clica no campo para digitar.*/
.form-control:focus,
.form-select:focus{
    border-color:#F4B400 !important;
    box-shadow:0 0 10px rgba(244,180,0,.35);
}

/* Customização do botão amarelo do Bootstrap */
.btn-warning{
    font-weight:bold;
    padding:12px 35px;
    transition:.3s;
}

/*Fim da sessão de início*/

/* Sessão Livros */

#livros h2{
    font-weight:700;
}

#listaLivros{
    min-height:300px;
    max-width: 900px;
    margin: 0 auto;
}

/* Estilização individual de cada cartão de livro */
.livro-card{
    width: 210px;
    background:#2a2b2f;
    border:none;
    border-radius:12px;
    overflow:hidden;
    transition:.3s;
}

/* Efeito de flutuar ao passar o mouse em cima do card */
.livro-card:hover{
    transform:translateY(-8px);
    box-shadow:0 10px 25px rgba(0,0,0,.45);
}

/* Força a padronização e enquadramento das capas dos livros */
.card-img-top{
    width:100%;
    height:260px;
    object-fit:cover;
    object-position:center;
}

/* Alinhamento dos textos internos do card */
.card-body{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding:.8rem;
}


.card-title{
    font-size:1rem;
    font-weight:600;
    min-height:50px;
}

.card-text{
    color:#bcbcbc;
    font-size:.9rem;
    margin-bottom:0;
}

/*Fim da sessão de livros*/

/*Sessão sobre*/

#sobre p{
    color:#d1d1d1;
    line-height:1.8;
}

/* Fim da sessão sobre*/

/*Sessão da documentação*/

#doc{
    background:#1d1e20;
}

#doc p{
    color:#cfcfcf;
}

/*Fim da sessão de documentção*/